<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="icon" type="image/png" href="/images/icon-36x36.png">
    <link rel="stylesheet" href="/CSS/admin-style.css">
</head>

<body>
    <%- include ('partials/header') %>

        <body>
            <div class="container">
                <div class="administra">
                    <div id="titulo">
                        <h2>ADMINISTRÁ</h2>
                        <p>¡Entra para administrar a todos/as los/las alumnos/as de nuestro colegio y conseguir el orden!
                        </p>
                        
                        <button>¡Vamos!</button>
                    </div>
                </div>
                <div class="registra">
                    <div id="titulo">
                        <h2>REGISTRÁ</h2>
                        <p>¡Acá podes registrar a todos esos nuevos ingresantes de nuestro colegio. ¡Ingresá!</p>
                        <button onclick="location.href='regis'">¡Vamos!</button>
                    </div>
                </div>
            </div>
        </body>

</html>

<%- include ('partials/footer') %>

    </body>

    </html>