<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga de Notas</title>
    <link rel="icon" type="image/png" href="/images/icon-36x36.png">
    <link rel="stylesheet" href="/CSS/carga-stye.css">
</head>

<body>
    <%- include ('partials/header') %>
        <input type="text" id="dniBuscar" placeholder="Ingrese DNI del alumno">
        <button onclick="buscarNotas()">Buscar</button>
        <table id="tablaNotas">
            <!-- Aquí se cargarán las notas -->
            <tr class="header-row">
                <th rowspan="3">Preceptor: Ana Laura</th>
                </th>
            </tr>

            <tr class="header-row">
                <th colspan="3">1er cuatrimestre</th>
                <th colspan="3">2do cuatrimestre</th>
                <th rowspan="2">Anual</th>
                <th colspan="2">Recuperatorio</th>
                <th rowspan="2">Nota Final</th>
            </tr>
            <tr class="header-row">
                <th>1 NP</th>
                <th>2 NP</th>
                <th>Nota</th>
                <th>1 NP</th>
                <th>2 NP</th>
                <th>Nota</th>
                <th>Dic</th>
                <th>Feb</th>
            </tr>

            <!-- Fila de cada alumno -->
            <tr>
                <td>Matemática</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Programación</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Marco Jurídico</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Inglés Técnico</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Hardware</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Prácticas Profesionalizantes</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Taller Vocacional</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Arduino 3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Redes 3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Autogestión </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td>Asistencia </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        </div>
        <%- include ('partials/footer') %>

</body>

</html>
