<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="icon" type="image/png" href="/images/icon-36x36.png">
    <link rel="stylesheet" href="/CSS/dep-style.css">
</head>
<body>
    <%- include ('partials/header') %>
    <main>
        <section class="inicio">
            <div class="content-box">
                <h1>¡Es hora de cargar las notas!</h1>
                <button><a href="/carga" id="carga">Cargar notas</a></button>
            </div>
        </section>
    </main>
    <%- include ('partials/footer') %>

</body>
</html>
