<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boletín Digital</title>
    <link rel="icon" type="image/png" href="/images/icon-36x36.png">
    <link rel="stylesheet" href="/CSS/index-style.css">
</head>

<body>
    <%- include ('partials/header') %>
    <main>
        <section class="boletin">
            <div class="texto">
                <h1>Bienvenido a</h1>
                <h2>TU BOLETÍN DIGITAL</h2>
                <button><a href="login" id="login">Inicia Sesión</a></button>
            </div>
            <div class="imagen">
                <img src="/images/mirgor2.jpeg" alt="Foto de alumnos en la fábrica">
            </div>
        </section>
    </main>
    <%- include ('partials/footer') %>

</body>

</html>